// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: $border-groove;
  font-weight: bold;
  > * {
    font-size: 14px;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.sheet-header {
  .item-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
    display: flex;
    h3,
    h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // Control Buttons
  .item-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;
    a {
      font-size: 12px;
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;
    &:last-child {
      border-bottom: none;
    }
    .item-name {
      color: $c-dark;
      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: $border-groove;
    font-weight: bold;
    > * {
      font-size: 12px;
      text-align: center;
    }
    .item-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

/* Example style for FabulaUltima (can be removed if not needed) */
.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

/* ------------------------------------ */
/*  Custom                              */
/* ------------------------------------ */
.fabulaUltima-wrapper {
  margin: 0 8px;
  background-color: rgb(43, 74, 66);
  padding: 0 4px;

  .fabulaUltima-wrapped {
    border-radius: 8px;
    background-color: rgb(218, 236, 219);
    padding: 0 8px;
  }
}

.item-body {
  margin-top: 16px;

  .equipment-table {
    border: 1px solid rgb(43, 74, 66);

    table {
      margin: 0;
      border: none;
    }

    th:first-child,
    td:first-child {
      padding-left: 4px;
    }

    th:last-child,
    td:last-child {
      padding-right: 4px;
    }

    .equipment-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .equipment-header {
      background-color: rgb(43, 74, 66);
      color: white;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .item-dmg,
  .item-cost,
  .item-input {
    align-items: center;
    justify-content: center;

    input {
      width: 75px;
    }
  }

  .item-cost {
    input {
      text-align: right;
    }
  }

  .item-input {
    input {
      text-align: center;
    }
  }

  .item-dmg {
    width: calc(100% - 12px);
    padding: 0;
    margin: 0;

    input {
      width: 25px;
      text-align: center;
    }
  }

  .item-qualities {
    .qualities-header {
      background-color: rgb(43, 74, 66);
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      padding: 4px 16px;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .accessory-cost {
      margin-left: auto;
      justify-self: end;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 4px;

      input {
        width: 75px;
        background-color: rgb(218, 236, 219);
        text-align: right;
      }
    }

    .qualities-list {
      border: 1px solid rgb(43, 74, 66);
      display: flex;
      flex-direction: column;

      .qualities-selector {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 4px 8px;

        .add-quality {
          background-color: rgb(43, 74, 66);
          color: white;
          border-radius: 4px;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 0;
          flex-shrink: 0;
        }
      }

      input.quality-value {
        width: auto;
      }

      .quality-element {
        border-bottom: 1px solid rgb(43, 74, 66);
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px;

        .star {
          color: rgb(184, 35, 21);
        }

        .trash {
          justify-self: end;
          color: rgb(43, 74, 66);
        }

        .quality-name {
          font-weight: 700;
        }
      }
    }
  }
}

