<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>

  {{!-- Sheet --}}
  <section class="item-body">
    <div class="equipment-top">
      <table>
        <tr class="equipment-header">
          <th>{{localize "FU.item.equipment.cost"}}</th>
          <th>{{localize "FU.item.equipment.weapon.precision"}}</th>
          <th>{{localize "FU.item.equipment.weapon.damage"}}</th>
        </tr>
        <tr>
          <td>
            <div class="equipment-cell">
              <input
                name="data.cost"
                type="text"
                value="{{item.cost}}"
                data-dtype="Number"
              /><span>z</span>
            </div>
          </td>
          <td>
            <div class="equipment-cell">
              <select name="data.precision1">
                {{#select data.precision1}} {{#each config.attrs as |name
                attribute| }}
                <option value="{{attribute}}">{{name}}</option>
                {{/each}} {{/select}}
              </select>
              <span>+</span>
              <select name="data.precision2">
                {{#select data.precision2}} {{#each config.attrs as |name
                attribute| }}
                <option value="{{attribute}}">{{name}}</option>
                {{/each}} {{/select}}
              </select>
            </div>
          </td>
          <td>
            <div class="equipment-cell">
              <select name="data.damageType">
                {{#select data.damageType}} {{#each config.damageTypes as |name
                type| }}
                <option value="{{type}}">{{name}}</option>
                {{/each}} {{/select}}
              </select>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="weapon-info">
      <div class="infos">
        <div>
          <select name="data.type">
            {{#select data.type}} {{#each config.item.weaponTypes as |name
            attribute| }}
            <option value="{{attribute}}">{{name}}</option>
            {{/each}} {{/select}}
          </select>
        </div>
        <div>
          <select name="data.hands">
            <option value="1">{{localize "FU.item.weapon.1hand"}}</option>
            <option value="2">{{localize "FU.item.weapon.2hands"}}</option>
          </select>
        </div>
        <div>
          <select name="data.rangeType">
            <option value="melee">{{localize "FU.item.weapon.melee"}}</option>
            <option value="ranged">{{localize "FU.item.weapon.ranged"}}</option>
          </select>
        </div>
      </div>

      <div class="qualities-header">
        <div>
          <span class="qualities-title"
            >{{localize "FU.item.equipment.qualities"}}</span
          >
          <a
            class="item-create add-quality"
            title="{{localize 'FU.item.equipment.addQuality'}}"
          >
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>

      <div>
        {{#each data.qualities as |itemQuality index}}
        <select name="data.qualities[{{@index}}].name">
          {{#select itemQuality.name}} {{#each config.items.weaponQualities as
          |quality qualityId| }}
          <option value="{{qualityId}}">{{quality.name}}</option>
          {{/each}} {{/select}}
        </select>
        {{#if config.items.weaponQualities[@index].type }} {{#if
        config.items.weaponQualities[@index].type === 'select'}} {{#else}}
        <input
          name="{{index}}-amount"
          type="number"
          value="{{itemQuality.value}}"
          data-dtype="Number"
          placeholder="Name"
        />
        {{/if}} {{/if}} {{/each}}
      </div>
    </div>
  </section>
</form>
